{:deps {org.martinklepsch/clj-http-lite {:mvn/version "0.4.3"}
        hato {:mvn/version "0.5.0"}
        org.clojure/data.json {:mvn/version "1.0.0"}
        autochrome {:git/url "https://github.com/martinklepsch/autochrome"
                    :sha "2f8abc1cd52e339a8f184007b9f3a3642251a8f8"}}}
