name: Upload Test

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1

    - run: mkdir diff

    - run: curl https://fazzone.github.io/autochrome.html -o diff/diff.html

    - run: echo $GITHUB_EVENT_NAME
    - run: echo $GITHUB_EVENT_PATH
    - run: cat $GITHUB_EVENT_PATH

    - uses: actions/upload-artifact@v1
      with:
        name: Autochrome Diff
        path: diff
